<div>
  <h1>hi alll</h1>
</div>
<div>
  <h1 style="background-color: dimgray;color: chocolate; text-align: center;"> EVEN OR ODD</h1>
  <h3>the given number 1 is : {{evenorodd(1)}}</h3>
  <h3>the given number 3 is : {{evenorodd(3)}}</h3>
  <h3>the given number 6 is : {{evenorodd(6)}}</h3>
</div>
<div>
  <h1 style="background-color:bisque;color:maroon; text-align: center;">switch Statement</h1>
    <h3>a=28,b=34</h3>
  <h3>sum is : {{operations(28,34,"+")}}</h3>
  <h3>sub is : {{operations(28,34,"-")}}</h3>
  <h3>mul is : {{operations(28,34,"*")}}</h3>
  <h3>div is : {{operations(28,34,"/")}}</h3>
  <h3>rem is : {{operations(28,34,"%")}}</h3>
</div>
<div>
  <h1 style="background-color:cadetblue;color:darkgreen; text-align: center;">prime number</h1>
  <h2>The given number 38 is : {{prime(38)}}</h2>
  <h2>The given number 7 is : {{prime(7)}}</h2>
</div>
<div>
  <h2>The given number 153 is :{{armstrong(153)}}</h2>
</div>