<div class="row">
    <div class="col-sm-12">
        <div class="row" style="background-color: aqua; text-align: center;">
            <div class="col-sm-2">
                <a >
                    <img routerLink="home" style="width: 120px;padding: 10px;" src="assets/icons8-audi-50.png" alt="logo"/>
                </a>
            </div>
            <div class="col-sm-10">
                <div class="row" style="margin-top: 70px;">
                    <div class="col-sm-2"><a style="color: white;font-weight: bold;font-size: 30px;text-decoration: none;" routerLink="home">Home</a></div>
                    <!-- <div class="col-sm-2"><a style="color: white;font-weight: bold;font-size: 30px;text-decoration: none;" routerLink="contact" >contact</a></div>
                    <div class="col-sm-2"><a style="color: white;font-weight: bold;font-size: 30px;text-decoration: none;" routerLink="about" >about</a></div> -->
                    <div class="col-sm-2"><a style="color: white;font-weight: bold;font-size: 30px;text-decoration: none;" routerLink="register" >Register</a></div>
                    <div class="col-sm-2"><a style="color: white;font-weight: bold;font-size: 30px;text-decoration: none;" routerLink="login" >login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div> 
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="row" style="background-color: #318ebd; text-align: center;">

            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <span style="color: white;">@CopyRights BMW "http//www.audi"</span>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3" style="color: white;">
            <a href="https://www.facebook.com/"><img src="assets/facebook.png" alt="Facebook"/></a>
            <a href="https://twitter.com/?lang=en-in"><img src="assets/twitter.png" alt="Twitter"/></a>
            <a href="https://www.instagram.com"><img src="assets/instagram.png" alt="Instagram"/></a>
            </div>
 
        </div>
    </div>
</div>