<div class="row">
    <div class="col-sm-6"><h2>Email</h2></div>

    <div class="col-sm-6"> 
<input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
    </div>
</div>
<div class="row">
    
    <div class="col-sm-6"><h2>Password</h2></div>
    <div class="col-sm-6"> 
<input type="text" class="form-control" id="Password" name="Password"[(ngModel)]="password">
    </div>
<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"> 
    <input class="btn btn-success"  type="button" value="Login" (click)="login()" />
    <!-- <div class="col-sm-4"><button (click)="login()" type="submit">Login</button></div> -->
    </div>
    <div class="col-sm-4"> </div>

</div>

