<div class="container-fluid g-0">
  
  <!--HEADER-->
  
  <app-header></app-header>
  <!--MAIN CONTENT -->
  <main class="black-border row">
  <!--TOOBAR TO ADD AND SEARCH EMPLOYEES-->
  <div class="toolbar black-border col-sm-6">
  
  <div class="row">
    <div class="col-sm-6"><a class="nav-link" class="btn btn-outline-success btn-lg" routerLink="home">Home</a></div>
    <div class="col-sm-6"><a class="nav-link" class="btn btn-outline-success btn-lg" routerLink="create">create</a></div>
    
  

  
  </div>
  <div class="search-employees">
  
  <input type="search" class="form-control" placeholder="Search Employees">
  
  </div>
  </div>
  <!-- AREA TO DISPLAY ALL THE EMPLOYEES -->
  
<div class="row">
<div class="col-sm-12">
  <router-outlet></router-outlet>
</div>
</div>

  <div class="employees">
    <div class="row mt-5" >
      <div class="col text-center">
        <span class="text-secondary fs-2 fw-bold fst-italic">There are No Employee Added</span>
      </div>
    </div>
  </div>
  </main>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Card Title</mat-card-title>
    <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="image.jpg" alt="Image">
  <mat-card-content>
    <p>This is the content of the card.</p>
  </mat-card-content>
  <mat-card-actions>
    <button  mat-raised-button color="primary">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

